/* Pre styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Inter", sans-serif;
}
.primary-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4a60a1;
  border: 1px solid #4a60a1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease;
}
.primary-btn:hover {
  background-color: #ffffff;
  border: 1px solid #4a60a1;
  color: #4a60a1;
}
.secondary-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #4a60a1;
  color: #4a60a1;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease;
}
.secondary-btn:hover {
  background-color: #4a60a1;
  border: 1px solid #4a60a1;
  color: #ffffff;
}

/* Actual styles here */
/* Header Styles */
#header .nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header logo style */
#header .header-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
#header .header-logo h4 {
  font-size: 24px;
  font-weight: 600;
  color: #4a60a1;
}
#header .header-logo p {
  font-size: 14px;
  font-weight: 500;
  color: #4a60a1;
}

/* Header nav,ul,li,a items styles */
#header .nav-items {
  display: flex;
  align-items: center;
  gap: 5px;
}
#header .nav-items li {
  list-style-type: none;
}
#header .nav-items a {
  text-decoration: none;
  font-size: 14px;
  color: #0f1320;
  padding: 8px 16px;
}
#header .nav-items a:hover {
  border-bottom: 2px solid #0f1320;
}

/* Header banner styles */
#header .header-banner {
  background-image: url(../images/header-banner.png),
    linear-gradient(rgba(6, 48, 83, 0.5), rgba(6, 48, 83, 0.5));
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  padding: 120px 30px 60px 30px;
}
#header .header-banner .banner {
  text-align: center;
}
#header .header-banner .banner-tittle {
  font-family: "Public Sans", sans-serif;
  font-size: 52px;
  font-weight: 600;
  color: #ffffff;
}
#header .header-banner .banner-desc {
  margin: 20px 0 40px 0;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

/* Choice and search part styles */
#header .choice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;

  margin: 150px 0 40px 0;
  padding: 30px 60px;
  background-color: #ffffff;
  border-radius: 8px;
}
#header .choice .choice-tittle {
  font-size: 16px;
  font-weight: 600;
  color: #2c3a61;
  margin-bottom: 8px;
}
#header .choice select {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  color: #889099;
  padding: 10px 0;
}
#header .choice select:focus {
  outline: 1px solid #4a60a1;
  border-radius: 4px;
}
#header .choice option {
  color: #0f1320;
}

/* Main part styles */
/* Properties by area styles */
#main .propertiesByArea {
  width: 80%;
  margin: 60px auto;
}
#main .propertiesByArea-tittle {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #1e2640;
}
#main .propertiesByArea-desc {
  text-align: center;
  margin: 15px 0 40px 0;
  font-size: 20px;
  font-weight: 400;
  color: #889099;
}

#main .propertiesByArea .threeSectProperties-tittle,
.twoSectProperties-tittle {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
#main .propertiesByArea .threeSectProperties-desc,
.twoSectProperties-desc {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

#main .propertiesByArea .threeSectProperties {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
#main .propertiesByArea .firstOf3sectProperties {
  background-image: url(../images/properties/properties1.png),
    linear-gradient(to right, rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  padding: 15px 215px 150px 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
}
#main .propertiesByArea .secondOf3sectProperties {
  background-image: url(../images/properties/properties2.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  padding: 15px 215px 150px 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
}
#main .propertiesByArea .thirdOf3sectProperties {
  background-image: url(../images/properties/properties3.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  padding: 15px 215px 150px 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
}

#main .propertiesByArea .twoSectProperties {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}
#main .propertiesByArea .firstOf2sectProperties {
  background-image: url(../images/properties/properties4.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
  width: 100%;
}
#main .propertiesByArea .secondOf2sectProperties {
  background-image: url(../images/properties/properties5.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
  width: 100%;
}
#main .propertiesByArea .properties-card {
    padding: 15px 415px 210px 15px;
}
