/* Pre styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-family: "Inter", sans-serif;
}
.primary-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4a60a1;
  border: 1px solid #4a60a1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease;
}
.primary-btn:hover {
  background-color: #ffffff;
  border: 1px solid #4a60a1;
  color: #4a60a1;
}
.secondary-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #4a60a1;
  color: #4a60a1;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all ease;
}
.secondary-btn:hover {
  background-color: #4a60a1;
  border: 1px solid #4a60a1;
  color: #ffffff;
}

/* Actual styles here */
/* Header Styles */
#header .nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header logo style */
#header .header-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
#header .header-logo h4 {
  font-size: 24px;
  font-weight: 600;
  color: #4a60a1;
}
#header .header-logo p {
  font-size: 14px;
  font-weight: 500;
  color: #4a60a1;
}

/* Header nav,ul,li,a items styles */
#header .nav-items {
  display: flex;
  align-items: center;
  gap: 5px;
}
#header .nav-items li {
  list-style-type: none;
}
#header .nav-items a {
  text-decoration: none;
  font-size: 14px;
  color: #0f1320;
  padding: 8px 16px;
}
#header .nav-items a:hover {
  border-bottom: 2px solid #0f1320;
}

/* Header banner styles */
#header .header-banner {
  background-image: url(../images/header-banner.png),
    linear-gradient(rgba(6, 48, 83, 0.5), rgba(6, 48, 83, 0.5));
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  padding: 120px 30px 60px 30px;
}
#header .header-banner .banner {
  text-align: center;
}
#header .header-banner .banner-tittle {
  font-family: "Public Sans", sans-serif;
  font-size: 52px;
  font-weight: 600;
  color: #ffffff;
}
#header .header-banner .banner-desc {
  margin: 20px 0 40px 0;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

/* Choice and search part styles */
#header .choice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;

  margin: 150px 0 40px 0;
  padding: 30px 60px;
  background-color: #ffffff;
  border-radius: 8px;
}
#header .choice .choice-tittle {
  font-size: 16px;
  font-weight: 600;
  color: #2c3a61;
  margin-bottom: 8px;
}
#header .choice select {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  color: #889099;
  padding: 10px 0;
}
#header .choice select:focus {
  outline: 1px solid #4a60a1;
  border-radius: 4px;
}
#header .choice option {
  color: #0f1320;
}

/* Main part styles */
/* Properties by area styles */
#main .propertiesByArea {
  width: 80%;
  margin: 60px auto;
}
#main .propertiesByArea-tittle {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #1e2640;
}
#main .propertiesByArea-desc {
  text-align: center;
  margin: 15px 0 40px 0;
  font-size: 16px;
  font-weight: 400;
  color: #889099;
}

#main .propertiesByArea .threeSectProperties-tittle,
.twoSectProperties-tittle {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
#main .propertiesByArea .threeSectProperties-desc,
.twoSectProperties-desc {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

#main .propertiesByArea .threeSectProperties {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
#main .propertiesByArea .firstOf3sectProperties {
  background-image: url(../images/properties/properties1.png),
    linear-gradient(to right, rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  padding: 15px 215px 150px 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
}
#main .propertiesByArea .secondOf3sectProperties {
  background-image: url(../images/properties/properties2.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  padding: 15px 215px 150px 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
}
#main .propertiesByArea .thirdOf3sectProperties {
  background-image: url(../images/properties/properties3.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  padding: 15px 215px 150px 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
}

#main .propertiesByArea .twoSectProperties {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}
#main .propertiesByArea .firstOf2sectProperties {
  background-image: url(../images/properties/properties4.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
  width: 100%;
}
#main .propertiesByArea .secondOf2sectProperties {
  background-image: url(../images/properties/properties5.png),
    linear-gradient(rgba(59, 77, 129, 0.4), rgba(59, 77, 129, 0.4));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px;
  background-blend-mode: overlay;
  width: 100%;
}
#main .propertiesByArea .properties-card {
  padding: 15px 415px 210px 15px;
}

/* You might be like to section styles here */
#main .youMightLike {
  background-color: #edeff6;
  margin-bottom: 80px;
}

#main .youMightLike .youMightLikeText {
  padding-top: 80px;
  text-align: center;
}
#main .youMightLike .youMightLike-textTittle {
  font-size: 40px;
  font-weight: 600;
  color: #1e2640;
}
#main .youMightLike .youMightLike-textdisc {
  margin: 10px 0 30px 0;
  font-size: 16px;
  font-weight: 400;
  color: #889099;
}

#main .youMightLike .content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 80px 50px 80px;
}
#main .youMightLike .contentElem {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}
#main .youMightLike .contentElem img,
.contentElem-tittle,
.contentElem-desc {
  margin-bottom: 20px;
}

#main .youMightLike .contentElem img {
  width: 60px;
}
#main .youMightLike .contentElem .contentElem-tittle {
  font-size: 24px;
  font-weight: 600;
  color: #363a3d;
}
#main .youMightLike .contentElem .contentElem-desc {
  font-size: 16px;
  font-weight: 400;
  color: #889099;
  line-height: 24px;
}
#main .youMightLike .contentElem a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #4a60a1;
}

/* Latest properties of rent styles */
#main .latestProperties .latestProperties-text {
  text-align: center;
}
#main .latestProperties .latestProperties-tittle {
  font-size: 40px;
  font-weight: 600;
  color: #1e2640;
}
#main .latestProperties .latestProperties-desc {
  width: 50%;
  margin: 10px auto 30px auto;

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #889099;
}

#main .latestProperties .latestProperties-contentContainer {
  padding: 0 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#main .latestProperties .latestProperties-content > img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
#main .latestProperties .latestProperties-content {
  border-radius: 10px;
  padding: 15px 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: 1s all ease;
}

#main .latestProperties .latestProperties-propertyName{
  font-size: 14px;
  font-weight: 500;
  color: #363A3D;
}
#main .latestProperties .latestProperties-propertyPrice{
  font-size: 13px;
  font-weight: 600;
  color: #4A60A1;
}

#main .latestProperties-content > img, .latestProperties-content > p, .latestProperties-moreDetails{
  margin-bottom: 18px;
}
#main .latestProperties .latestProperties-moreDetails{
  display: flex;
  align-items: center;
  gap: 15px;
}
#main .latestProperties .latestProperties-moreDetails p{
  font-size: 15px;
  font-weight: 500;
  color: #6D737A;
}
#main .latestProperties .latestProperties-moreDetails > div > span{
  display: flex;
  align-items: center;
  gap: 5px;
}

#main .latestProperties .latestProperties-userOpt{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main .latestProperties .latestProperties-user{
  display: flex;
  align-items: center;
  gap: 8px;
}
#main .latestProperties .latestProperties-user img{
  width: 32px;
  border-radius: 15px;
}
#main .latestProperties .latestProperties-userName{
  font-size: 14px;
  font-weight: 500;
  color: #363A3D;
}

#main .latestProperties .latestProperties-option ul{
  display: flex;
  align-items: center;
  gap: 10px;
}
#main .latestProperties .latestProperties-option li{
  list-style-type: none;
}

#main .loadMoreListings{
  text-align: center;
  margin: 30px 0 150px 0;
}


/* More Latest properties */
#main .moreLatest{
  margin-bottom: 150px;
}
#main .moreLatest .moreLatest-text{
  text-align: center;
}
#main .moreLatest .moreLatest-tittle{
   font-size: 40px;
   font-weight: 600;
   color: #1E2640;
}
#main .moreLatest .moreLatest-desc{
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   color: #889099;
   margin: 10px 0 30px 0;
}

#main .moreLatest .moreLatest-contentContainer{
  margin: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main .moreLatest .content1{
  background-image: url(../images/properties/properties9.png),
  linear-gradient(rgba(29, 40, 71, 0.4), rgba(29, 40, 71, 0.507));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 6px;
  background-blend-mode: overlay;
}
#main .moreLatest .content2{
  background-image: url(../images/properties/properties10.png),
  linear-gradient(rgba(29, 40, 71, 0.4), rgba(29, 40, 71, 0.507));
  background-repeat: no-repeat;
  background-size: 120%;
  border-radius: 6px;
  background-blend-mode: overlay;
}
#main .moreLatest .content3{
  background-image: url(../images/properties/properties11.png),
  linear-gradient(rgba(29, 40, 71, 0.4), rgba(29, 40, 71, 0.507));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 6px;
  background-blend-mode: overlay;
}
#main .moreLatest .content4{
  background-image: url(../images/properties/properties12.png),
  linear-gradient(rgba(29, 40, 71, 0.4), rgba(29, 40, 71, 0.507));
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 6px;
  background-blend-mode: overlay;
}
#main .moreLatest-contentContainer .content-location, .content-propertySize{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

#main .moreLatest .alignContents{
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 300px 20px 20px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
#main .moreLatest .alignContents > img{
  width: 24px;
}